p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding-top: 100px;
    padding-left: 265px;
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 10px;
    bottom: 0;
    width: 225px;
}

@media (max-width:1200px) {
    .sidebar {
      display: none;
    }
}


.sidebar button:active {
    background-color: #cecdcd;
}

.first-sidebar {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(224, 224, 224);
    margin-bottom: 12px;
}

.first-sidebar .first-1 {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 14px;
    color: #0F0F0F;
}

.first-sidebar .first-sidebar-normal {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-size: 14px;
    background-color: transparent;
    color: #0F0F0F;
}

.first-sidebar .first-sidebar-last {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-size: 14px;
    background-color: transparent;
    margin-bottom: 12px;
    color: #0F0F0F;
}

.first-sidebar-normal:hover, .first-sidebar-last:hover {
    background-color: #F0F0F0;
    cursor:pointer;
}

.second-sidebar {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(224, 224, 224);
    margin-bottom: 12px;
}

.second-sidebar .second-sidebar-normal {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-size: 14px;
    background-color: transparent;
    color: #0F0F0F;
}

.second-sidebar .second-sidebar-last {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-size: 14px;
    background-color: transparent;
    margin-bottom: 12px;
    color: #0F0F0F;
}

.second-sidebar-normal:hover, .second-sidebar-last:hover {
    background-color: #F0F0F0;
    cursor:pointer; 
}

.third-sidebar {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(224, 224, 224);
    margin-bottom: 12px;
}

.text-sidebar {
    font-family: Roboto, Arial;
    font-size: 16px;
    color: #0F0F0F;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 12px;
}

.subscriptions-button {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-size: 14px;
    background-color: transparent;
    color: #0F0F0F;
}

.subscriptions-button:hover {
    background-color: #F0F0F0;
    cursor:pointer; 
}

.subscriptions-profile {
    height: 24px;
    width: 24px;
    border-radius: 30px;
    margin-left: 8px;
    margin-right: 24px;
}

.blue-dot {
    height: 4px;
    width: 4px;
    background-color: #065FD4;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
}

.show-subscriptions {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-size: 14px;
    background-color: transparent;
    white-space: nowrap;
    margin-bottom: 12px;
    color: #0F0F0F;

}

.show-subscriptions:hover {
    background-color: #F0F0F0;
    cursor:pointer; 
}

.fourth-sidebar {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(224, 224, 224);
    margin-bottom: 12px;
}

.explore-buttons {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-size: 14px;
    background-color: transparent;
    color: #0F0F0F;
}

.explore-buttons:hover {
    background-color: #F0F0F0;
    cursor:pointer; 
}

.fifth-sidebar {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(224, 224, 224);
    margin-bottom: 12px;
}

.more-from-youtube-buttons {
    display: flex;
    height: 40px;
    width: 205px;
    align-items: center;
    border-radius: 12px;
    border: none;
    justify-content: left;
    font-family: Roboto, Arial;
    font-size: 14px;
    background-color: transparent;
    color: #0F0F0F;
}

.more-from-youtube-buttons:hover {
    background-color: #F0F0F0;
    cursor:pointer; 
}

.sixth-sidebar {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(224, 224, 224);
    margin-bottom: 12px;
}

.parent-container {
    display: flex;
    position: fixed;
    top: 70px;
    height: 35px;
}

@media (max-width:1200px) {
    .parent-container {
      position: fixed;
      left: 26px;
      right: 45px;
    }
  }
  @media (max-width:650px) {
    .grid-for-videos {
      position: fixed;
      left: 0px;
    }
  }

.nav-bar {
    display: flex;
    overflow-x: hidden;
    width: 1200px;
    height: 30px;
    flex-wrap: nowrap;
    white-space: nowrap;
    position: relative;
}

.nav-bar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12%; 
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); 
}

.slide-button {
    width: 35px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.slide-button:hover{
    background-color: rgb(228, 228, 228);
}


.nav-bar button {
    font-family: Roboto, Arial;
    font-weight: 400;
    font-size: 14px;
    color: rgb(75, 75, 75);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 8px;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    height: 30px;
}

.all-button {
    background-color: black;
    color: white !important;
}

.nav-bar button:hover {
    background-color: rgb(218, 218, 218);
}

.general-button.active {
    color: white;
    background-color: black !important;
}


